.transaction{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rece{
    color: black;
    font-weight:bolder;

}
.amount{
    color: red;
    font-weight: bold;
}
.sts{
    color: green;
    font-weight: bold;
}